form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px
}

form input::placeholder {
    padding: 10px
}


form button {
    cursor:pointer;
    height: 100%;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
}